@font-face {
    font-family: 'JetBrains Mono';
    src: url("assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf") format('truetype');
    font-weight: 100 800;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    color: white;
    background: black;
}

main{
    width:1440px;
    height: 1037px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 66px;
    padding: 20px 24PX;
}


#logo{
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
    align-items: center;
    width: 139px;
    height: 26px;
    opacity: 100%;
    color: #FFFFFF;
    z-index: 9999;
}



#header-right{
    width: 281px;
    height: 17px;
    font-family: 'JetBrains Mono';
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 1px;

}

#header-right span{
 font-family: JetBrains Mono;
 font-weight: 400;
 font-style: Regular;
 font-size: 11px;
 /*leading-trim: NONE;*/
 line-height: 120%;
 letter-spacing: 1px; 
}


#live-markets{
    display: flex;
    align-items: center;
    width: 1456px;
    height: 40px;
    gap: 10px;
    /*opacity: 1;*/
    background: var(--colors-neutral-700, #171719);
}


#live-market-left{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  width: 138px;
  height: 40px;
  gap: 8px;
  opacity: 1;
  border-right: 1px;
  padding: 12px 16px;
  background-color: #cef739;
  color: black;
  z-index: 9999;
   
}


#live-market-left #circle{
    width: 6px;
    height: 6px;
    background-color:#0A0A0A;
    border-radius: 999px;
    /*border: 1px solid red;*/
}


#live-market-left #text{
   width: 92px;
   height: 16px;
   font-family: 'JetBrains Mono';
   font-weight: 500;
   font-style: Medium;
   font-size: 11px;
   
   /*leading-trim: NONE;*/
   line-height: 130%;
   letter-spacing: 0.5px;
}

#list-container-right{
    display: flex;
    animation: scroll 1000s linear infinite;
}

#list-container-right li{
    display: inline;
    padding: 10px 15px;
    border-right: 1px solid grey;    
}




@keyframes scroll {
    0% {
        transform: translateX(100wv);
    }
    100% {
        transform: translateX(-100%);
    }
}


/*

#live-market-header-left{
    background-color: #cef739;
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 0.4rem;
    margin: 0;
    color: black;
}

#live-market-data-right{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    text-transform: uppercase;
    background-color: #202022;
    color: #FFFFFF;
    margin: 0;

}

#live-market-data-right li{
    display: inline;
    margin-right: 0;
    padding:10px 15px;

}


#live-market-data{
    color:#FFFFFF;
    display: inline;
    overflow: scroll;

}

#live-market-data li{
    color:#FFFFFF;
    display: inline;
    padding: 10px 15px;

    

}



*/


