*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    color: white;
    background: black;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 1440px*/
    width: 100vw;
    height: 66px;
    padding: 16px 40px;
    gap: 128px;
    background-color: black;
    margin-bottom: 5px;
}


#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 38px;
    margin: 0 80px;
    opacity: 100%;
    color: #FFFFFF;
}

#live-market-container{
    display: flex;
    align-items: center;
    position: sticky;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    background-color: #202022;

}

#list-container-right{
    display: flex;
    background-color: black;
    animation: scroll 1000s linear infinite;
}

#list-container-right li{
    display: inline;
    margin-right: 0;
    background-color: black;
    
    padding: 10px 15px;
    border-right: 1px solid grey;    
}


#live-market-left{
    padding: 10px 30px;
    display: inline;
    position: absolute;
    background-color: #cef739;
    z-index: 9999;
    margin-left: 0;
    color: black;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/*

#live-market-header-left{
    background-color: #cef739;
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 0.4rem;
    margin: 0;
    color: black;
}

#live-market-data-right{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    text-transform: uppercase;
    background-color: #202022;
    color: #FFFFFF;
    margin: 0;

}

#live-market-data-right li{
    display: inline;
    margin-right: 0;
    padding:10px 15px;

}


#live-market-data{
    color:#FFFFFF;
    display: inline;
    overflow: scroll;

}

#live-market-data li{
    color:#FFFFFF;
    display: inline;
    padding: 10px 15px;

    

}



*/


