@font-face {
    font-family: 'JetBrains Mono';
    src: url("../assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf") format('truetype');
    font-weight: 100 800;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    color: white;
    background: black;
}

main{
    width:1440px;
    height: 1037px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 66px;
    padding: 20px 24PX;
}


#logo{
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
    align-items: center;
    width: 139px;
    height: 26px;
    opacity: 100%;
    color: #FFFFFF;
    z-index: 9999;
}



#header-right{
    width: 281px;
    height: 17px;
    font-family: 'JetBrains Mono';
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 1px;

}

#header-right span{
 font-family: JetBrains Mono;
 font-weight: 400;
 font-style: Regular;
 font-size: 11px;
 /*leading-trim: NONE;*/
 line-height: 120%;
 letter-spacing: 1px; 
}


#live-markets{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 1440px;
    height: 40px;
    gap: 10px;
    /*opacity: 1;*/
    background: var(--colors-neutral-700, #171719);
}


#live-market-left{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  width: 138px;
  height: 40px;
  gap: 8px;
  opacity: 1;
  border-right: 1px;
  padding: 12px 16px;
  background-color: #cef739;
  color: black;
  z-index: 9999;
   
}


#live-market-left #circle{
    width: 6px;
    height: 6px;
    background-color:#0A0A0A;
    border-radius: 999px;
    /*border: 1px solid red;*/
}


#live-market-left #text{
   width: 92px;
   height: 16px;
   font-family: 'JetBrains Mono';
   font-weight: 500;
   font-style: Medium;
   font-size: 11px;
   
   /*leading-trim: NONE;*/
   line-height: 130%;
   letter-spacing: 0.5px;
}

#list-container-right{ 
    display: flex;
    animation: scroll 1000s linear infinite;
    height: 40px;
    
}

#list-container-right li{
    display: flex;
    width: 208px;
    height: 40px;
    list-style: none;
    border-right: 1px solid grey;
    padding: 12px 20px;
}




@keyframes scroll {
    0% {
        transform: translateX(100wv);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* EXCHANGE CURRENCY DIV START */

.content{
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 931px;
    background: var(--colors-neutral-900, #0A0A0A);
    /*border: 1px solid #ccc;*/
    margin: 0 auto;
    padding: 49px 32px;
    gap: 32px;
}

.converter-wrapper{
    display: flex;
    flex-direction: column;
    width: 1036px;
    height: 263px;
    gap: 16px;
    /*border-radius: 8px;*/
    /*border: 1px solid #ccc;*/

}

#section-title{
    width: 162px;
    height: 24px;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 120%;
    vertical-align: middle;
    color: #FFFFFF  ;
}

.converter{
    width: 1036px;
    height: 223px;
    border-radius: 20px;
    /*border: 1px;*/
    color: #171719;
    /*background-color: #ccc;*/

}


#top-container{
  display: flex;
  gap: 24px;
  align-items: center;
  width: 1036px;
  height: 158px;
  padding: 20px;
  background-color: #171719;  
}


#top-container .container{
    width: 450px;
    height: 118px;
    border-radius: 16px;
    /*border: 1px;*/
    gap: 20px;
    padding: 20px;
    color: #202022;
    background-color: #202022;
    border: 1px solid #0A0A0A;
}

#top-container .exchange-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #0A0A0A;
    background-color: #202022;;
}

.exchange-button img{
    width: 18px;
    height: 18px;
}


#bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1036px;
    height: 65px;
    padding: 16px 20px;
    opacity: 1;
    border-top: 1px dashed #ccc;
    background-color: #2E2E2E;
    /*border-style: dashed;*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #2E2E2E; 

}

#conversion-rate{
    width: 139px;
    height: 14px;
    opacity: 1;
    /*border: 1px solid #ccc;*/
    color: #FFFFFF;
    font-family: JetBrains Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px; /*font-size: 12px;*/  
    line-height: 120%;
    letter-spacing: 0.5px;


}

#conversion-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 261px;
    height: 32px; 
    border: 1px solid #ccc;
}


.favorite-button{
    width: 117px;
    height: 32px;
    border-radius: 8px;
    border: 1px;
    padding: 8px 12px;
}







/* EXCHANGE CURRENCY DIV END */




/*

#live-market-header-left{
    background-color: #cef739;
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 0.4rem;
    margin: 0;
    color: black;
}

#live-market-data-right{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    text-transform: uppercase;
    background-color: #202022;
    color: #FFFFFF;
    margin: 0;

}

#live-market-data-right li{
    display: inline;
    margin-right: 0;
    padding:10px 15px;

}


#live-market-data{
    color:#FFFFFF;
    display: inline;
    overflow: scroll;

}

#live-market-data li{
    color:#FFFFFF;
    display: inline;
    padding: 10px 15px;

    

}



*/


